$primary-color: #3c9e33;
$background-color: #e6e6e6;
$foreground-color: rgb(236, 236, 239);
$default-text-color: rgb(34, 34, 34);
$lighter-text-color: rgb(34, 34, 34);
$lightest-text-color: rgb(34, 34, 34);
$contrast-text-color: rgb(236, 236, 239);