
.main {
  height: 100vh;
  --upper-nav-height: 4em;
  --lower-nav-height: 10em;
  overflow: hidden;
}

.main_nav{
  height: 4em;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  padding: .5em 1.5em .5em 1.5em;
}

.main_nav button{
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_nav button svg{
  stroke: white;
  fill: white;
  pointer-events: none;
  width: 5em;
  height: 5em;
}

.main .content{
  height: calc(100% - var(--upper-nav-height));
  width: 100%;
}

.main .content .temp{
  height: calc(100% - var(--lower-nav-height));
  overflow-y: scroll;
}

.reader{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none !important;
}

.reader > div:nth-child(2){
  height: calc(100vh - 6em);
}

.reader video{
  height: 100% !important;
  width: 100% !important;
}

.reader > div:nth-child(3) > div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(65, 67, 85);
  padding: 0 !important;
  height: 6em;
}

.reader > div:nth-child(3) > div > div:nth-child(2){
  display: none;
}


.reader button{
  border-radius: 1em;
  padding: 1em;
  border: none;
}

.h1{
  text-align: center;
  padding-top: .25em;
  margin-bottom: 1em;
}

.question{
  width: 90%;
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: .5em;
}

.question > *{
  width: 100%;
  transition: all .25s;
  border-radius: 7.5px;
  height: 9em;
  display: flex;
  align-items: flex-start;
  padding: .5em;
}

.question .checkmark{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.question svg{
  padding: .25em;
  width: 3.5em;
  height: 3.5em;
  
}

.question svg path{
  padding: .25em;
  width: 3.5em;
  height: 3.5em;
  fill: white;
}

.question .info{
  height: 100%;
  flex: 13;
  text-align: start;
}

.question h3{
  font-size: 28px;
}

.question p{
  font-size: 18px;
}

.question > * *{
  pointer-events: none;
}

.question > *:hover{
  transition: all .15s;
  transform: scale(1.05);
  cursor: pointer;
}

.module{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.384);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.module > div{
  position: relative;
  z-index: 101;
  width: 90%;
  height: 30em;
  margin: 0 auto;
  background-color: blueviolet;
  border-top-left-radius: 15px;
}

.module .go_back{
  width: 30px;
  height: 30px;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}

.module .go_back:hover{
  cursor: pointer;
}

.module .info{
  padding: 1em 1.25em 1em 1.25em;
  height: calc(100% - 30px);
}
.module h2{

}
.module p{
  margin-left: .25em;
}

.module img{
  padding: 1em;
  width: 100%;
  max-height: calc(100% - 2em);
  object-fit: contain;
}

.nav{
  width: 100%;
  height: var(--lower-nav-height);
}

.nav > .navGroup{
  height: 100%;
  width: 100%;
  background-color: aqua;
}

.navGroup{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navGroup .scan{
  background-color: black;
  border-radius: .5em;
  width: 80%;
  height: 2.5em;
  font-size: 40px;
  transition: .1s all;
}

.scan:hover{
  transform: scale(1.05);
}

.QrScanner{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.questionForm{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.514);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionForm > .card{
  max-width: 650px;
  padding: .5em;
  position: relative;
  z-index: 101;
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 1em;
  background-color: blueviolet;
  border-radius: 15px;
  overflow: hidden;
  --card-cover-height: 14em
}

.questionForm .cover{
  width: 100%;
  height: var(--card-cover-height);
  overflow: hidden;
}
.questionForm img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: .5em;
  padding-bottom: .15em;
}
.questionForm h2{
  padding: .35em .15em .375em .15em;
}
.questionForm .info{
  height: calc(100% - var(--card-cover-height));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questionForm ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.questionForm ul li{
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionForm ul button{
  transition: all .1s;
  min-width: 4em;
  height: 2em;
  padding: .25em;
  font-size: 20px;
}

.questionForm ul button:hover{
  transform: scale(1.05);
}

.questionForm .answer{
  display: block;
  margin: 0 auto;
  max-width: 20em;
  width: 90%;
  height: 3em;
  font-size: 18px;
}

.mailForm{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.514);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mailForm .card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aqua;
  max-width: 650px;
  padding: .5em;
  z-index: 110;
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 1em;
  background-color: blueviolet;
  border-radius: 15px;
  overflow: hidden;
}
.mailForm form{
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
}

.mailForm form input{
  margin-top: 1em;
  width: 100%;
}