@import 'colors.scss';
.mailForm{

    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
	background-color: $fade-background-color;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    

    .card{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: .5em;
        z-index: 110;
        max-width: 300px;
        width: 100%;
        padding-bottom: 1em;
        background-color: $foreground-color;
        border-radius: 15px;
        overflow: hidden;

        .about{
            padding: 0em .5em 0em .5em;
            color: $default-text-color;
            width: 80%;
            margin-top: 1em;
            margin-bottom: .25em;
            max-width: 250px;
            width: 100%;
            p{
                margin-bottom: 1em;
            }
            p:last-of-type{
                margin-bottom: 0em;
            }
            span{
                text-decoration: underline;
            }
        }

        .logo{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $default-text-color;
            font-weight: bold;
            img{
                object-fit: contain;
                width: 100px;
                max-width: 33%;

            }
        }

        form{

            display: flex;
            flex-direction: column;
            max-width: 250px;
            width: 100%;

            label{
				color: $default-text-color;
				font-size: 19px;
			}

            input{
                margin-top: 1em;
                width: 100%;
                height: 2em;
            }
			button {
				height: 2.5em;
				width: 100%;
				font-size: 18px;
                background-color: $primary-color;
                color:$contrast-text-color;
                border: none;
                border-radius: 10px;
			}
			*{
				margin-top: .5em;
			}
        }
    }
}