@import 'colors.scss';

.questionForm {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: $fade-background-color;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;

	.card {
		max-width: 650px;
		padding: 0.5em;
		position: relative;
		z-index: 101;
		width: 70%;
		height: auto;
		margin: 0 auto;
		padding-bottom: 1em;
		background-color: $foreground-color;
		border-radius: 15px;
		overflow: hidden;
		$card-cover-height: 14em;

		.cover {
			width: 100%;
			height: $card-cover-height;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				padding: 0.5em;
				padding-bottom: 0.15em;
			}
		}

		.info {
			height: calc(100% - $card-cover-height);
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			h2 {
				padding: 0.35em 0.15em 0.375em 0.15em;
				color: $default-text-color;
			}
			ul {
				list-style-type: none;
				display: grid;
				grid-template-columns: repeat(2, 1fr);

				li {
					display: flex;
					align-items: center;
					justify-content: center;

					button {
						transition: all 0.1s;
						min-width: 4em;
						height: 2em;
						padding: 0.25em;
						font-size: 20px;
						border: none;
					}
					button:hover {
						transform: scale(1.05);
					}
					.answer {
						position: relative;
						display: block;
						margin: 0 auto;
						max-width: 20em;
						width: 90%;
						height: 3em;
						font-size: 18px;
						color: $contrast-text-color;
					}
					.answer.selected {
						background-color: $primary-color;
					}
					.answer.selected::before {
						content: url('../../../public/external_design/check-mark-svgrepo-com.svg');
						transform: scale(0.65);
						width: 1.5em;
						height: 1.5em;
						padding: 0.5em;
						position: absolute;
						right: -1.25em;
						top: -1em;
						fill: $contrast-text-color;
						background-color: $primary-color;
						border-radius: 50%;
						box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
						-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
						-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
					}
				}
			}
		}
	}
}
