@import 'colors.scss';

.submitForm{
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: $fade-background-color;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;

	.card {
		max-width: 350px;
		padding: 1.5em;
		position: relative;
		z-index: 101;
		width: 70%;
		height: auto;
		margin: 0 auto;
		padding-bottom: 1em;
		background-color: $foreground-color;
		border-radius: 15px;
		overflow: hidden;

		h1{
			margin-bottom: .65em;
		}

		h2 {
			color: $default-text-color;
			margin-bottom: .4em;
			font-size: 20px;
		}

		form {
			display: flex;
			justify-content: center;
			flex-direction: column;

			label{
				color: $default-text-color;
				font-size: 19px;
				margin: 0;
			}
			.submit_form{
				height: 2.5em;
				width: 100%;
				font-size: 18px;
				color: $contrast-text-color;
				background-color: $primary-color;
				border: none;
				border-radius: 10px;
			}
			input{
				height: 2em;
				width: 100%;
				text-align: center
			};
			*{
				margin-top: .5em;
			}

		}
		

	}
  
}
